<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @newsletter.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @newsletter.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @newsletter.user_id %>
</p>

<%= link_to 'Edit', edit_newsletter_path(@newsletter) %> |
<%= link_to 'Back', newsletters_path %>
