<h1>Listing shoutouts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Newsletter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shoutouts.each do |shoutout| %>
      <tr>
        <td><%= shoutout.name %></td>
        <td><%= shoutout.content %></td>
        <td><%= shoutout.newsletter_id %></td>
        <td><%= link_to 'Show', shoutout %></td>
        <td><%= link_to 'Edit', edit_shoutout_path(shoutout) %></td>
        <td><%= link_to 'Destroy', shoutout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shoutout', new_shoutout_path %>
