<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shoutout.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @shoutout.content %>
</p>

<p>
  <strong>Newsletter:</strong>
  <%= @shoutout.newsletter_id %>
</p>

<%= link_to 'Edit', edit_shoutout_path(@shoutout) %> |
<%= link_to 'Back', shoutouts_path %>
